// Breakpoint
$breakpoint: 799px;
$content-width: 1000px;

// Google Font
$font-family: 'Muli', sans-serif;

// Link
$link-hover-color: #2581DC;

// Navigation
$nav-background: #262626;
$nav-font-color: #fff;
$nav-height: 70px;